<template>
    <div>
      <form @submit.prevent="crear()" method="post" style="">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" v-model="formUser.name">
        <label for="email">Email:</label>
        <input type="text" id="email" v-model="formUser.email">
        <label for="password">Password:</label>
        <input type="text" id="password" v-model="formUser.password">
        <button type="submit">Crear</button>
      </form>
    </div>
    <div>
      <ul>
        <li v-for="user in users" :key="user.email">{{ user }}
          <RouterLink :to="{ name: 'user', params: { email: user.email } }"></RouterLink>
        </li>
      </ul>
    </div>
  </template>
  

<script setup lang="ts">
import type IUser from '../interfaces/IUsers';//Interfaz
import AuthService from '../services/AuthService';
import { onMounted, ref, type Ref } from 'vue';


const service = new AuthService;
const formUser = ref({}) as Ref<IUser>

const users = service.getPosts();

onMounted(async () => {
  await service.fetchAll();
});

const crear = () => {
  const data = formUser.value;
  if (data.name && data.email) {
    service.fetchPost(data.email, data.name, data.password);
    formUser.value = {} as IUser;
  } else alert('Se necesitan rellenar todos los campos');
};


</script>

<style scoped>

</style>